<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='theme.css')}}">
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Todo-List</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li>
                        <a href="https://hackmd.io/j69f7P6ZRoSLInMC78k26g?view" class="nav-link disable">Tip</a>
                    </li>
                    <li class="nav-item">
                      
                      <a class="nav-link disabled" href="https://github.com/Yu-Chun1214/X-Village-Todo">More Information</a>
                    </li>
                  </ul>
                </div>
        </nav>

        <div class="jumbotron jumbotron-fluid">
            <div class="container" style="width: auto" >
                <h1 class="display-4">Todo-List</h1>
                <hr class="my-4">
                <p class="lead">Amazing Todo-List System</p>
                <button type="submit" class="btn btn-primary btn-lg" onclick="location.href='https://github.com/Yu-Chun1214/X-Village-Todo'">
                        Learn More
                    </button>
            </div>
        </div>
        <form  id='event-form'>
        <div class="event">
          <div class="input-group mb-3" id="user-input" style="margin:auto">
            <div id="mode-select">
              <select class="custom-select" id="inputGroupSelect02">
                <option selected>Add</option>
                <option value="1">Edit</option>
                <option value="2">Delete</option>
              </select>
            </div>
            
            <div class="input-group-append" id="input-block">
              <div class="form-group">
                <input type="event" class="form-control" id="eventInput" placeholder="Enter event">
              </div>
            </div>
            <div id="importance-select">
              <select class="custom-select" id="inputGroupSelect02">                
                  <option selected>Normal</option>
                  <option value="1">Very Important</option>
                  <option value="2">Less Important</option>
              </select>
            </div>
          </div>
        </div>
        <div style="margin:auto;margin-right:0px;" id="submit-div"><button id="CRUD" class="btn btn-primary" type="submit" style="margin:auto">Submit</button></div>
        </form>
        
        <div id='Todo-List' style="margin-top:50px">
            <div id="display-way">
              <div style="margin:auto">
                <div class="dropdown" style="margin:auto;display: inline-block;">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Display
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                      <button class="dropdown-item" type="button" id="show">Show Completed</button>
                      <button class="dropdown-item" type="button" id="hide">Hide Completed</button>
                    </div>
                </div>
                <!---
                <div class="dropdown" style="margin:auto;display: inline-block;">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      From
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                      <button class="dropdown-item" type="button">Very Important - Less Important</button>
                      <button class="dropdown-item" type="button">Order</button>
                      <button class="dropdown-item" type="button">Less Important - Very Important</button>
                    </div>
                </div>
              </div>
            </div>
            --->
            <!-------------------------list-group------------------>
            <ul class="list-group"style="margin:0px;" id="main-list">
            </ul>
        </div>
        
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="{{url_for('static',filename='back.js')}}"></script>
</body>
</html>